<div class="row">
  <div class="col-xs-2">
    <app-sidebar></app-sidebar>
  </div>
<div class="col-xs-10">

    <div class="row parker-header">
      <div class="col-xs-2">
<img src="../assets/images/Parker-Black.png" id="parkerlogo"/></div>
      <div class="col-xs-10">
      </div>
    </div>
    <div class="row parker-navbar">
      <div class="col-xs-12"> <app-navbar></app-navbar>
</div>
    </div>
    <div class="row parker-content">
      <div class="col-xs-12">
      <router-outlet></router-outlet>
</div>
    </div>
  </div>
</div>
